
.highlight {
  background-color: #efefef;
  /*padding: 7px 7px 7px 10px;*/
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  /*margin: 20px 0 20px 0;*/
  overflow: scroll;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .hll { background-color: #222222 }
.highlight  { background: #000000; color: #cccccc }
.highlight .c { color: #000080 } /* Comment */
.highlight .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
.highlight .esc { color: #cccccc } /* Escape */
.highlight .g { color: #cccccc } /* Generic */
.highlight .k { color: #cdcd00 } /* Keyword */
.highlight .l { color: #cccccc } /* Literal */
.highlight .n { color: #cccccc } /* Name */
.highlight .o { color: #3399cc } /* Operator */
.highlight .x { color: #cccccc } /* Other */
.highlight .p { color: #cccccc } /* Punctuation */
.highlight .ch { color: #000080 } /* Comment.Hashbang */
.highlight .cm { color: #000080 } /* Comment.Multiline */
.highlight .cp { color: #000080 } /* Comment.Preproc */
.highlight .cpf { color: #000080 } /* Comment.PreprocFile */
.highlight .c1 { color: #000080 } /* Comment.Single */
.highlight .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #cd0000 } /* Generic.Deleted */
.highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00cd00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #cdcd00 } /* Keyword.Constant */
.highlight .kd { color: #00cd00 } /* Keyword.Declaration */
.highlight .kn { color: #cd00cd } /* Keyword.Namespace */
.highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
.highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
.highlight .kt { color: #00cd00 } /* Keyword.Type */
.highlight .ld { color: #cccccc } /* Literal.Date */
.highlight .m { color: #cd00cd } /* Literal.Number */
.highlight .s { color: #cd0000 } /* Literal.String */
.highlight .na { color: #cccccc } /* Name.Attribute */
.highlight .nb { color: #cd00cd } /* Name.Builtin */
.highlight .nc { color: #00cdcd } /* Name.Class */
.highlight .no { color: #cccccc } /* Name.Constant */
.highlight .nd { color: #cccccc } /* Name.Decorator */
.highlight .ni { color: #cccccc } /* Name.Entity */
.highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #cccccc } /* Name.Function */
.highlight .nl { color: #cccccc } /* Name.Label */
.highlight .nn { color: #cccccc } /* Name.Namespace */
.highlight .nx { color: #cccccc } /* Name.Other */
.highlight .py { color: #cccccc } /* Name.Property */
.highlight .nt { color: #cccccc } /* Name.Tag */
.highlight .nv { color: #00cdcd } /* Name.Variable */
.highlight .ow { color: #cdcd00 } /* Operator.Word */
.highlight .w { color: #cccccc } /* Text.Whitespace */
.highlight .mb { color: #cd00cd } /* Literal.Number.Bin */
.highlight .mf { color: #cd00cd } /* Literal.Number.Float */
.highlight .mh { color: #cd00cd } /* Literal.Number.Hex */
.highlight .mi { color: #cd00cd } /* Literal.Number.Integer */
.highlight .mo { color: #cd00cd } /* Literal.Number.Oct */
.highlight .sa { color: #cd0000 } /* Literal.String.Affix */
.highlight .sb { color: #cd0000 } /* Literal.String.Backtick */
.highlight .sc { color: #cd0000 } /* Literal.String.Char */
.highlight .dl { color: #cd0000 } /* Literal.String.Delimiter */
.highlight .sd { color: #cd0000 } /* Literal.String.Doc */
.highlight .s2 { color: #cd0000 } /* Literal.String.Double */
.highlight .se { color: #cd0000 } /* Literal.String.Escape */
.highlight .sh { color: #cd0000 } /* Literal.String.Heredoc */
.highlight .si { color: #cd0000 } /* Literal.String.Interpol */
.highlight .sx { color: #cd0000 } /* Literal.String.Other */
.highlight .sr { color: #cd0000 } /* Literal.String.Regex */
.highlight .s1 { color: #cd0000 } /* Literal.String.Single */
.highlight .ss { color: #cd0000 } /* Literal.String.Symbol */
.highlight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.highlight .fm { color: #cccccc } /* Name.Function.Magic */
.highlight .vc { color: #00cdcd } /* Name.Variable.Class */
.highlight .vg { color: #00cdcd } /* Name.Variable.Global */
.highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
.highlight .vm { color: #00cdcd } /* Name.Variable.Magic */
.highlight .il { color: #cd00cd } /* Literal.Number.Integer.Long */

// .highlight .c { color: #586E75 } /* Comment */
// .highlight .err { color: #93A1A1 } /* Error */
// .highlight .g { color: #93A1A1 } /* Generic */
// .highlight .k { color: #859900 } /* Keyword */
// .highlight .l { color: #93A1A1 } /* Literal */
// .highlight .n { color: #93A1A1 } /* Name */
// .highlight .o { color: #859900 } /* Operator */
// .highlight .x { color: #CB4B16 } /* Other */
// .highlight .p { color: #93A1A1 } /* Punctuation */
// .highlight .cm { color: #586E75 } /* Comment.Multiline */
// .highlight .cp { color: #859900 } /* Comment.Preproc */
// .highlight .c1 { color: #586E75 } /* Comment.Single */
// .highlight .cs { color: #859900 } /* Comment.Special */
// .highlight .gd { color: #2AA198 } /* Generic.Deleted */
// .highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
// .highlight .gr { color: #DC322F } /* Generic.Error */
// .highlight .gh { color: #CB4B16 } /* Generic.Heading */
// .highlight .gi { color: #859900 } /* Generic.Inserted */
// .highlight .go { color: #93A1A1 } /* Generic.Output */
// .highlight .gp { color: #93A1A1 } /* Generic.Prompt */
// .highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
// .highlight .gu { color: #CB4B16 } /* Generic.Subheading */
// .highlight .gt { color: #93A1A1 } /* Generic.Traceback */
// .highlight .kc { color: #CB4B16 } /* Keyword.Constant */
// .highlight .kd { color: #268BD2 } /* Keyword.Declaration */
// .highlight .kn { color: #859900 } /* Keyword.Namespace */
// .highlight .kp { color: #859900 } /* Keyword.Pseudo */
// .highlight .kr { color: #268BD2 } /* Keyword.Reserved */
// .highlight .kt { color: #DC322F } /* Keyword.Type */
// .highlight .ld { color: #93A1A1 } /* Literal.Date */
// .highlight .m { color: #2AA198 } /* Literal.Number */
// .highlight .s { color: #2AA198 } /* Literal.String */
// .highlight .na { color: #93A1A1 } /* Name.Attribute */
// .highlight .nb { color: #B58900 } /* Name.Builtin */
// .highlight .nc { color: #268BD2 } /* Name.Class */
// .highlight .no { color: #CB4B16 } /* Name.Constant */
// .highlight .nd { color: #268BD2 } /* Name.Decorator */
// .highlight .ni { color: #CB4B16 } /* Name.Entity */
// .highlight .ne { color: #CB4B16 } /* Name.Exception */
// .highlight .nf { color: #268BD2 } /* Name.Function */
// .highlight .nl { color: #93A1A1 } /* Name.Label */
// .highlight .nn { color: #93A1A1 } /* Name.Namespace */
// .highlight .nx { color: #555 } /* Name.Other */
// .highlight .py { color: #93A1A1 } /* Name.Property */
// .highlight .nt { color: #268BD2 } /* Name.Tag */
// .highlight .nv { color: #268BD2 } /* Name.Variable */
// .highlight .ow { color: #859900 } /* Operator.Word */
// .highlight .w { color: #93A1A1 } /* Text.Whitespace */
// .highlight .mf { color: #2AA198 } /* Literal.Number.Float */
// .highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
// .highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
// .highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
// .highlight .sb { color: #586E75 } /* Literal.String.Backtick */
// .highlight .sc { color: #2AA198 } /* Literal.String.Char */
// .highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
// .highlight .s2 { color: #2AA198 } /* Literal.String.Double */
// .highlight .se { color: #CB4B16 } /* Literal.String.Escape */
// .highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
// .highlight .si { color: #2AA198 } /* Literal.String.Interpol */
// .highlight .sx { color: #2AA198 } /* Literal.String.Other */
// .highlight .sr { color: #DC322F } /* Literal.String.Regex */
// .highlight .s1 { color: #2AA198 } /* Literal.String.Single */
// .highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
// .highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
// .highlight .vc { color: #268BD2 } /* Name.Variable.Class */
// .highlight .vg { color: #268BD2 } /* Name.Variable.Global */
// .highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
// .highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
